<!doctype html>
<html lang="en">
  <head>
  	<title>寻宝游戏</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/user_assets/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(/static/user_assets/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">注册</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<!-- <h3 class="mb-4 text-center">{{ warning }}</h3> -->
				<p class="w-100 text-center"> {{ warning }} </p>
		      	<form action="/user/register/" method="post" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="用户名" name='username' required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="密码" name='password' required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">注册</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<!-- <div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">记住我
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div> -->
								<!-- <div class="w-50 text-md-right">
									<a href="#" style="color: #fff">忘记密码</a>
								</div> -->
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; 登录/注册 &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="/user/login/" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> 登录</a>
	          	<a href="/user/register/" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> 注册</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/user_assets/js/jquery.min.js"></script>
  <script src="/static/user_assets/js/popper.js"></script>
  <script src="/static/user_assets/js/bootstrap.min.js"></script>
  <script src="/static/user_assets/js/main.js"></script>

	</body>
</html>

